.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.buttons-wrapper{
  align-self: center;
}

.button-a-color{
  color: #46139f !important;
}

.button-b-color{
  color: #ff7f50 !important;
}

.button-c{
  border-color: #46139f !important;
  background-color: white !important;
  color: black !important;
}

.modal-footer{
  display: flex;
  justify-content: flex-start;
}

.modal-header{
  display: flex;
  justify-content: space-around;
}
